[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = git://github.com/opscode-cookbooks/sudo.git
