[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/sudo"]
	path = cookbooks/sudo
	url = git://github.com/opscode-cookbooks/sudo.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = git://github.com/fnichol/chef-ruby_build.git
[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = git://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = git://github.com/mdxp/nodejs-cookbook.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = git://github.com/opscode-cookbooks/nginx.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = git://github.com/opscode-cookbooks/ohai.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/opscode-cookbooks/mysql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/memcached"]
	path = cookbooks/memcached
	url = git://github.com/opscode-cookbooks/memcached.git
[submodule "cookbooks/monit"]
	path = cookbooks/monit
	url = git://github.com/phlipper/chef-monit.git
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = git://github.com/opscode-cookbooks/logrotate.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git://github.com/phlipper/chef-postgresql.git
